#editor-page-indexed-edit {
	display: grid;
	grid-template-rows: auto 2rem 1fr;
	overflow: hidden;
}
#editor-page-indexed-edit > div {
	display: grid;
	height: 100%;
}

#indexed-edit-variables,#indexed-edit-indexor {
	background-color: #333;
	padding: 0 0.5rem;
	grid-template-columns: auto 2rem;
	justify-content: start;
	align-items: center;
	column-gap: 0.5rem;
	text-wrap: nowrap;
}
#indexed-edit-variables {
	grid-template-columns: auto 2rem 1fr;
	grid-template-rows: 2rem 1fr;
	grid-template-areas: "title menu list"". . list";
}

.indexed-edit-options {
	width: 1.5rem;
	height: 1.5rem;
	justify-self: center;
	background-color: transparent;
	background-image: url(../buttons.svg);
	background-position: -3rem -1rem;
}
.indexed-edit-options:hover { background-color: #444 }
.indexed-edit-options:active { background-color: #111 }
.indexed-edit-options.hold {
	background-color: #111;
	pointer-events: none;
}

#indexed-edit-indexor-add {
	width: 1.5rem;
	height: 1.5rem;
}

#indexed-edit-indexor-frame {
	padding: 0.5rem;
	overflow-y: auto;
	grid-auto-rows: min-content;
	gap: 0.5rem;
}

.indexor {
	display: grid;
	background-color: #444;
	padding: 0.5rem;
	border-radius: 0.5rem;
	gap: 0.5rem;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(3, 1.75rem);
	grid-template-areas: "name name remove""pathd path path""content content content";
	align-items: center;
}
.indexor>input {
	height: 1.75rem;
	border: 0;
	border-radius: 0.25rem;
	font-size: 1rem;
	padding: 0 0.375rem;
	background-color: #222;
	color: #FFF;
}
.indexor-name {
	grid-area: name;
	color: #00BFFF !important;
}
.indexor-remove {
	grid-area: remove;
	width: 1.75rem;
	height: 1.75rem;
	background-color: #F00;
	display: block;
	position: relative;
}
.indexor-remove:hover {background-color: var(--hoverColor)}
.indexor-remove:active {background-color: var(--activeColor)}
.indexor-remove:before,.indexor-remove:after {
	content: "";
	position: absolute;
	display: block;
	background-color: #000;
	left: 0.25rem;
	right: 0.25rem;
	top: 0.8125rem;
	bottom: 0.8125rem;
	transform: rotate(45deg);
	border-radius: 0.0625rem;
}
.indexor-remove:after {transform: rotate(135deg)}
.indexor-path-d {grid-area: pathd}
.indexor-path {
	grid-area: path;
	border: solid 0.125rem transparent !important;
	padding: 0 0.25rem !important;
}
.indexor-content {grid-area: content}
.indexor-content:disabled {background-color: #800000}
.indexor-content:disabled::placeholder {color: #808080}
.indexor-content.invalid {color:#F00 !important}
.indexor-path.invalid {border-color: #F00 !important}
.indexor-path.string {border-color: #FF0 !important}
.indexor-path.number {border-color: #0F0 !important}
.indexor-path.boolean {border-color: #0060FF !important}

.indexor-data-frame {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.5rem;
	height: 100%;
	overflow: hidden;
}
.indexor-data {
	display: grid;
	padding: 0 0.5rem;
	gap: 0.5rem;
	max-height: 16rem;
	overflow: hidden auto;
	font-size: 0.875rem;
	word-break: break-all;
}

#indexed-edit-variable-frame {
	display: flex;
	grid-area: list;
	flex-wrap: wrap;
	padding-block: 0.25rem;
	gap: 0.5rem;
	max-height: 6rem;
	overflow: hidden auto;
}

.variable {
	display: grid;
	grid-template-columns: 1rem auto 4rem;
	height: 1.5rem;
	padding: 0.125rem 0.25rem;
	gap: 0.25rem;
	align-items: center;
	overflow: hidden;
	background-color: #111;
	border-radius: 0.25rem;
}

.variable-name {
	color: #00BFFF;
}

.variable-value {
	border: 0;
	height: 1.25rem;
	border-radius: 0.125rem;
	background-color: #444;
	color: #FFF;
	padding: 0 0.25rem;
}

.variable-remove {
	width: 1rem;
	height: 1rem;
	background-color: transparent;
	background-image: url(../buttons.svg);
	border-radius: 0.125rem;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.variable:hover>.variable-remove{
	opacity: 1;
}

.variable-remove:hover {
	background-color: #333;
}
.variable-remove:active {
	background-color: red;
}

.variable.active {
	background-color: var(--focusColor);
}
.variable.active>.variable-name {
	color: #000;
}
.variable.active>.variable-value {
	background-color: #000;
}